<html>
  <head>
    <!-- Compiled with Bootstrap Email version: 1.3.1 --><meta
      http-equiv='x-ua-compatible'
      content='ie=edge'
    />
    <meta name='x-apple-disable-message-reformatting' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta
      name='format-detection'
      content='telephone=no, date=no, address=no, email=no'
    />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <style type='text/css'>
      body,table,td{font-family:Helvetica,Arial,sans-serif
      !important}.ExternalClass{width:100%}.ExternalClass,.ExternalClass
      p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass
      div{line-height:150%}a{text-decoration:none}*{color:inherit}a[x-apple-data-detectors],u+#body
      a,#MessageViewBody
      a{color:inherit;text-decoration:none;font-size:inherit;font-family:inherit;font-weight:inherit;line-height:inherit}img{-ms-interpolation-mode:bicubic}table:not([class^=s-]){font-family:Helvetica,Arial,sans-serif;mso-table-lspace:0pt;mso-table-rspace:0pt;border-spacing:0px;border-collapse:collapse}table:not([class^=s-])
      td{border-spacing:0px;border-collapse:collapse}@media screen and
      (max-width: 600px){.gap-3.row,.gap-x-3.row{margin-right:-12px
      !important}.gap-3.row>table>tbody>tr>td,.gap-x-3.row>table>tbody>tr>td{padding-right:12px
      !important}.gap-3.row,.gap-y-3.row{margin-bottom:-12px
      !important}.gap-3.row>table>tbody>tr>td,.gap-y-3.row>table>tbody>tr>td{padding-bottom:12px
      !important}.gap-8.row,.gap-x-8.row{margin-right:-32px
      !important}.gap-8.row>table>tbody>tr>td,.gap-x-8.row>table>tbody>tr>td{padding-right:32px
      !important}.gap-8.row,.gap-y-8.row{margin-bottom:-32px
      !important}.gap-8.row>table>tbody>tr>td,.gap-y-8.row>table>tbody>tr>td{padding-bottom:32px
      !important}table.gap-3.stack-x>tbody>tr>td{padding-right:12px
      !important}table.gap-3.stack-y>tbody>tr>td{padding-bottom:12px
      !important}table.gap-8.stack-x>tbody>tr>td{padding-right:32px
      !important}table.gap-8.stack-y>tbody>tr>td{padding-bottom:32px
      !important}.w-full,.w-full>tbody>tr>td{width:100%
      !important}.w-56,.w-56>tbody>tr>td{width:224px
      !important}.p-4:not(table),.p-4:not(.btn)>tbody>tr>td,.p-4.btn td
      a{padding:16px !important}*[class*=s-lg-]>tbody>tr>td{font-size:0
      !important;line-height:0 !important;height:0
      !important}.s-3>tbody>tr>td{font-size:12px !important;line-height:12px
      !important;height:12px !important}.s-6>tbody>tr>td{font-size:24px
      !important;line-height:24px !important;height:24px
      !important}.s-10>tbody>tr>td{font-size:40px !important;line-height:40px
      !important;height:40px !important}}
    </style>
  </head>
  <body
    style='outline: 0; width: 100%; min-width: 100%; height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: Helvetica, Arial, sans-serif; line-height: 24px; font-weight: normal; font-size: 16px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #000000; margin: 0; padding: 0; border-width: 0;'
    bgcolor='#ffffff'
  >
    <table
      valign='top'
      style='outline: 0; width: 100%; min-width: 100%; height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: Helvetica, Arial, sans-serif; line-height: 24px; font-weight: normal; font-size: 16px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #000000; margin: 0; padding: 0; border-width: 0;'
    >
      <tbody>
        <tr>
          <td valign='top' align='center'>
            <table
              align='center'
              style='width: 100%; max-width: 600px; margin: 0 auto;'
            >
              <tbody>
                <tr style='height: 32px;'>
                </tr>
                <tr>
                  <td
                    style='line-height: 24px; font-size: 16px; padding-bottom: 32px; width: 100%; margin: 0;'
                    align='left'
                    width='100%'
                  >
                    <div>
                      <table
                        class='ax-center'
                        align='center'
                        style='margin: 0 auto;'
                      >
                        <tbody>
                          <tr>
                            <td
                              style='line-height: 24px; font-size: 16px; margin: 0;'
                              align='left'
                            >
                              <img
                                width='160'
                                height='160'
                                src='{{baseUrl}}/assets/mailing/email-reset.png'
                                alt='Reset Password'
                                style='height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; border-style: none; border-width: 0;'
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        class='s-10 w-full'
                        style='width: 100%;'
                        width='100%'
                      >
                        <tbody>
                          <tr>
                            <td
                              style='line-height: 40px; font-size: 40px; width: 100%; height: 40px; margin: 0;'
                              align='left'
                              width='100%'
                              height='40'
                            >
                              &#160;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div
                        class='fw-700 text-center text-lg'
                        style='font-size: 18px; line-height: 21.6px; font-weight: 700 !important;'
                        align='center'
                      >Authentication Code</div>
                      <table
                        class='s-3 w-full'
                        style='width: 100%;'
                        width='100%'
                      >
                        <tbody>
                          <tr>
                            <td
                              style='line-height: 12px; font-size: 12px; width: 100%; height: 12px; margin: 0;'
                              align='left'
                              width='100%'
                              height='12'
                            >
                              &#160;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div
                        class='fw-400 text-center text-sm'
                        style='font-size: 14px; line-height: 16.8px; font-weight: 400 !important;'
                        align='center'
                      >Please check the authentication code below.
                        <br />
                        This link will expire after 5 minutes or if it is used
                        once.</div>
                      <table
                        class='s-6 w-full'
                        style='width: 100%;'
                        width='100%'
                      >
                        <tbody>
                          <tr>
                            <td
                              style='line-height: 24px; font-size: 24px; width: 100%; height: 24px; margin: 0;'
                              align='left'
                              width='100%'
                              height='24'
                            >
                              &#160;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div
                        class='fw-700 text-center text-2xl'
                        style='font-size: 24px; line-height: 28.8px; font-weight: 700 !important;'
                        align='center'
                      >{{code}}</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td
                    style='line-height: 24px; font-size: 16px; padding-bottom: 32px; width: 100%; margin: 0;'
                    align='left'
                    width='100%'
                  >
                    <div
                      class='fw-400 text-secondary text-center text-xs'
                      style='color: #A3A3A3; font-size: 14px; font-weight: 400; line-height: 20px;'
                      align='center'
                    >This is an automated message. Please do not reply to this
                      email.</div>
                  </td>
                </tr>
                <tr>
                  <td
                    style='line-height: 24px; font-size: 16px; padding-bottom: 0; width: 100%; margin: 0;'
                    align='left'
                    width='100%'
                  >
                    <table class='s-6' style='width: 100%;' width='100%'>
                      <tbody>
                        <tr>
                          <td
                            style='line-height: 24px; font-size: 16px; padding-right: 0; margin: 0;'
                            align='left'
                            valign='top'
                          >
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <img
                                      width='16'
                                      height='16'
                                      src='{{baseUrl}}/assets/mailing/logo.svg'
                                      alt='Logo'
                                      style='height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; border-style: none; border-width: 0; display:inline'
                                    />
                                  </td>
                                  <td>
                                    <img
                                      width='116'
                                      height='18'
                                      src='{{baseUrl}}/assets/mailing/title-ufb.png'
                                      alt='UserFeedback'
                                      style='height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; border-style: none; border-width: 0; display:inline'
                                    />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td align='left' valign='center'>
                            <table align='center' style='margin: 0 auto;'>
                              <tbody>
                                <tr>
                                  <td
                                    style='padding-right: 12px; margin: 0;'
                                    align='left'
                                    valign='top'
                                  >
                                    <img
                                      width='16'
                                      height='16'
                                      src='{{baseUrl}}/assets/mailing/globe-fill.png'
                                      alt='Website'
                                      style='height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; border-style: none; border-width: 0; cursor: not-allowed;'
                                    />
                                  </td>
                                  <td
                                    style='padding-right: 12px; margin: 0;'
                                    align='left'
                                    valign='top'
                                  >
                                    <a
                                      href='https://github.com/line/abc-user-feedback'
                                      style='color: #0d6efd;'
                                    >
                                      <img
                                        width='16'
                                        height='16'
                                        src='{{baseUrl}}/assets/mailing/github-mark.png'
                                        alt='GitHub'
                                        style='height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; border-style: none; border-width: 0;'
                                      />
                                    </a>
                                  </td>
                                  <td
                                    style='padding-right: 0; margin: 0;'
                                    align='left'
                                    valign='top'
                                  >
                                    <a
                                      href='mailto:dl_abc_userfeedback@linecorp.com'
                                      style='color: #0d6efd;'
                                    >
                                      <img
                                        width='16'
                                        height='16'
                                        src='{{baseUrl}}/assets/mailing/mail-fill.png'
                                        style='height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; border-style: none; border-width: 0;'
                                      />
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>